
<h2>Busquedas</h2>
<hr>
<ul class="list-group">
  <!-- <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a ro >Home Page</a>
  </li>
  <li class="list-group-item" routerLink="about" routerLinkActive="active" >
    <a >About Page</a>
  </li>
  <li class="list-group-item" routerLink="contact" routerLinkActive="active" >
    <a >Contact Page</a>
  </li> -->
  <li class="list-group-item" routerLink="countries/by-capital" routerLinkActive="active" >
    <a >By Capital</a>
  </li>
  <li class="list-group-item" routerLink="countries/by-country" routerLinkActive="active" >
    <a >By Country</a>
  </li>
  <li class="list-group-item" routerLink="countries/by-region" routerLinkActive="active" >
    <a >By Region</a>
  </li>
</ul>


